{% extends "template.html" %}

{% set page ='Design_contest' %}

{% block meta %}
<title>TheEvent Bootstrap Template - Design_contest</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}
<main id="main" class="main-page">
  <section class="wow fadeInUp" id="design-contest">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-header">
            <h2 class="text-center">Submit design of the contest</h2>
          </div>
        </div>
        <br>
      </div>
      <p>The ARM Design Contest based on ARM Semiconductors is a key highlight of the 33rd International Conference on
        VLSI Design and the 19th International Conference on Embedded Systems to be held in Bengaluru from 4th – 8th
        January, 2019.
      </p>
      <p>Apart from exciting cash prizes for top 3 teams, the top 5 teams will get an opportunity to showcase their
        solutions in the prestigious VLSID 2020 conference. Top 2 teams will also be considered for a summer
        internship with leading VLSI companies. Best wishes to all the shortlisted teams for coming up with
        innovative solutions using the popular IoT Kits.<br></p>
      <p>The solution should be based on STM32L4 L475E-IOT01A Discovery kit IoT node, low-power wireless, BLE, NFC,
        SubGHz, Wi-Fi board (Sponsored by ARM to all the shortlisted participants/teams). Participants/Teams are
        free to use other peripherals as needed to build a complete solution. Details and capabilities of the board
        can be found here (Link:&nbsp;<a href="https://os.mbed.com/platforms/ST-Discovery-L475E-IOT01A/">https://os.mbed.com/platforms/ST-Discovery-L475E-IOT01A/</a>).
      </p>
      <p>While creativity and problem solving are keys to success, participants are nudged to also look at improving
        their success factors by nailing the presentability quotient of the solution (including the front end, web
        interface using any IOT cloud platform like Pelion IoT platform, AzureIoT hub etc. The board supplied is
        already a Pelion IoT platform enabled board but is also a general purpose commercial IoT board.
      </p>
      <p>Evaluation criteria – Majorly based on a combination of the chosen problem statement, completeness of
        solution, innovation/differentiation.
      </p>

      <div class="col-sm-12 mx-auto text-center"><a class="btnf" href="#" id="val">Submit</a></div>
    </div>

  </section>

</main>

{% endblock %}