{% extends "template.html" %}
{% set page = 'UDT' %}

{% block meta %}
<title>User Design Track - Embedded & VLSI Design Conference</title>
<meta content = "" name="description">
<meta content = "" name="keywords">
<link rel="stylesheet" href="">
{% endblock %}

{% block content %}
<main id="main" class="main-page">
    <!----Keynotes Speakers Section----->
    <section id="events-user-design-track" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>User Design Track</h2>
            </div>
            <div class="col-sm-12 mx-auto text-center">
                <h1 class="text-center mb-4">Presentation</h1>
            </div>
            <table class="table table-responsive-xl table-bordered table-hover">
                <thead>
                <tr>
                    <th style="min-width: 250px;" class="bg-success text-center">Session-1</th>
                    <th style="min-width: 250px;" class="bg-success text-center">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
                    <th style="min-width: 250px;" class="bg-success text-center">Location : DIYA</th>
                    <th style="min-width: 150px" class="bg-success text-center">Session Chair- Ayan Datta, Intel</th>
                    <th class="bg-success"></th>
                </tr>
                <tr class="text-center">
                    <th class="table-info">Paper Title</th>
                    <th class="table-info">Authors</th>
                    <th class="table-info">Track</th>
                    <th class="table-info">Time Slot</th>
                    <th class="table-info">Affiliation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</td>
                    <td>Jai Gopal Pandey and Abhijit Karmakar</td>
                    <td>Front End Silicon Design</td>
                    <td>4:00-4:20PM</td>
                    <td>CEERI</td>
                </tr>
                <tr>
                    <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</td>
                    <td>Prateek Pendyala and Vishant Gotra</td>
                    <td>Back End Silicon Design</td>
                    <td>4:20-4:40PM	</td>
                    <td>INTEL</td>
                </tr>
                <tr>
                    <td >Improving low power implementation flow using special NOR isolation cells	</td>
                    <td>AMAN JAIN</td>
                    <td>Back End Silicon Design</td>
                    <td>5:00-5:20PM</td>
                    <td>IIT M</td>
                </tr>
                <tr>
                    <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</td>
                    <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
                    <td>Transistor Level Design</td>
                    <td>5:20-5:40PM		</td>
                    <td>SAMSUNG</td>
                </tr>
                <tr>
                    <td colspan="3" class="bg-primary text-center">Memento and certificate Honor</td>
                    <td class="bg-primary">12:25:12:35PM	</td>
                    <td class="bg-primary"></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-responsive-lg table-bordered table-hover">
                <thead>
                <tr>
                    <th style="min-width: 250px;" class="bg-success text-center">Session-1</th>
                    <th style="min-width: 250px;" class="bg-success text-center">Date & Time : Jan 6th, 2020, 4:00PM -6:00PM</th>
                    <th style="min-width: 250px;" class="bg-success text-center">Location : DIYA</th>
                    <th style="min-width: 150px" class="bg-success text-center">Session Chair- Ayan Datta, Intel</th>
                    <th class="bg-success"></th>
                </tr>
                <tr class="text-center">
                    <th class="table-info">Paper Title</th>
                    <th class="table-info">Authors</th>
                    <th class="table-info">Track</th>
                    <th class="table-info">Time Slot</th>
                    <th class="table-info">Affiliation</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td >A Secure Audio Application using PRESENT Lightweight Cipher and its FPGA Implementation</td>
                    <td>Jai Gopal Pandey and Abhijit Karmakar</td>
                    <td>Front End Silicon Design</td>
                    <td>4:00-4:20PM</td>
                    <td>CEERI</td>
                </tr>
                <tr>
                    <td>Iterative Optimizations to Minimize Global & Local Clock Skew using Quadratic Programming and Machine Learning</t>
                    <td>Prateek Pendyala and Vishant Gotra</td>
                    <td>Back End Silicon Design</td>
                    <td>4:20-4:40PM	</td>
                    <td>INTEL</td>
                </tr>
                <tr>
                    <td >Improving low power implementation flow using special NOR isolation cells	</td>
                    <td>AMAN JAIN</td>
                    <td>Back End Silicon Design</td>
                    <td>5:00-5:20PM</td>
                    <td>IIT M</td>
                </tr>
                <tr>
                    <td>Silicon Proven FinFET based Design Optimization Techniques for Library Differentiation</td>
                    <td >Aroma Bhat, Arani Roy, Rajeela Deshpande, Mitesh Goyal, Abhishek Ghosh and Parvinder Kumar Rana</td>
                    <td>Transistor Level Design</td>
                    <td>5:20-5:40PM		</td>
                    <td>SAMSUNG</td>
                </tr>
                <tr>
                    <td colspan="3" class="bg-primary">Memento and certificate Honor</td>
                    <td class="bg-primary">12:25:12:35PM	</td>
                    <td class="bg-primary"></td>
                </tr>
                </tbody>
            </table>
             <div class="mt-4 mb-4 col-sm-12 mx-auto text-center">
                <h1 class="text-center mb-4">Poster</h1>
            </div>
            <table  class="mt-4 table table-responsive-xl table-bordered table-hover">
                <thead>
                <tr>
                    <th style="min-width: 235px;" class="bg-success text-center">Title</th>
                    <th style="min-width: 200px;" class="bg-success text-center">Authors</th>
                    <th style="min-width: 100px;" class="bg-success text-center">Track</th>
                    <th style="min-width: 100px" class="bg-success text-center">Affiliation</th>
                    <th style="min-width: 100px" class="bg-success text-center">Date and Time slot - 6th Jan 2020</th>
                    <th  class="bg-success text-center">Location </th>
                    <th style="min-width: 150px" class="bg-success text-center">Judges</th>
                </tr>

                </thead>
                <tbody>
                <tr>
                    <td >Low power DSSS transmitter and its VLSI Implementation</td>
                    <td>jayasanthi R</td>
                    <td>Front End Silicon Design</td>
                    <td></td>
                    <td>4:00-4:20PM</td>
                    <td rowspan="4"> Poster Display Area</td>
                    <td rowspan="4">Manish Mathur, Suman Dwivedi</td>
                </tr>
                <tr>
                    <td >Low power DSSS transmitter and its VLSI Implementation</td>
                    <td>jayasanthi R</td>
                    <td>Front End Silicon Design</td>
                    <td></td>
                    <td>4:00-4:20PM</td>


                </tr>
               <tr>
                    <td >Low power DSSS transmitter and its VLSI Implementation</td>
                    <td>jayasanthi R</td>
                    <td>Front End Silicon Design</td>
                    <td></td>
                    <td>4:00-4:20PM</td>


                </tr>
                <tr>
                   <td >Low power DSSS transmitter and its VLSI Implementation</td>
                    <td>jayasanthi R</td>
                    <td>Front End Silicon Design</td>
                    <td></td>
                    <td>4:00-4:20PM</td>

                </tr>
                <tr class="text-center">
                    <td colspan="4" class="bg-primary">Memento and certificate Honor</td>
                    <td class="bg-primary">12:25:12:35PM</td>
                    <td class="bg-primary"></td>
                    <td class="bg-primary"></td>
                </tr>
                </tbody>
            </table>

            <br>
            <br>
            <ul>
                <li>Presenting author must register for main conference to present their paper/poster.</li>
                <li>Poster printing will be taken care by conference organizing committee.</li>
                <li>Presenting author must be available next to his/her poster display at given time slot for presentation.</li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}