{% extends "template.html" %}
{% set page ='Student-research-forum1' %}
{% block meta %}
<title>Industry Research Forum - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}
{% block content %}
<main id="main" class="main-page">
  <section id="industry-research-forum" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Industry Research Forum </h2>
      </div>
      <h3><strong>Conference Theme:</strong> Connecting Intelligent Systems to New Age Transistors</h3>
      <br>
      <div>
        <h3 class="industry-title"><span class="dot mr-3"></span>Objective</h3>
        <h5>VLSI Design Conference 2020 will be held during Jan 4th to Jan 8th, 2020 in Bengaluru. The
          organizing committee will host an Industry Forum co-located with the conference. The purpose of this
          forum is to invite speakers to talk and promote the latest developments and offerings from their
          companies to a wider audience comprising industry leaders, technologists and enthusiasts. The
          session will enable a peer-to-peer platform to discuss, discover, define and dissipate knowledge on
          the industry roadmap. Industry Forum will also serve as a platform to academia for research and
          career opportunities.
          <br>
          A panel discussion involving experts is also planned during the forum, details of which will be
          announced later.</h5>
      </div>
      <br>
      <div>
        <h3 class="industry-title"><span class="dot mr-3"></span>Eligibility</h3>
        <h5>Nominated speakers from participating companies, start-ups and government organizations are eligible
          to participate.</h5>
      </div>
      <br>
      <div>
        <h3 class="industry-title"><span class="dot mr-3"></span>Process</h3>
        <h5>Interested companies are required to submit a proposal containing Name/Brief Bio of Speaker along
          with topic/abstract of presentation by Nov 8, 2019.</h5>
        <h5>Proposal to be submitted by sending an email to: <a
                href="mailto:vlsid-2020-industry-forum@googlegroups.com">vlsid-2020-industry-forum@googlegroups.com</a>
        </h5>
        <h5>It would be helpful to highlight the connection of abstract to the conference theme and the
          overall endeavor of the VLSI Industry for Responsible Research & Innovation. Start-up
          companies will be supported who can connect to “Make in India” theme of Government of
          India.</h5>
      </div>
      <br>
      <div>
        <h3 class="industry-title"><span class="dot mr-3"></span>Presentation / Participation</h3>
        <h5>Forum will have slots of 30 minutes for each presentation, spread across 2 days to minimize the
          conflict with conference technical program. The 30-minute length allows attendees to enjoy multiple
          presentations in a short time span and runs at a fast pace to keep this event more interesting. Only
          abstract will appear in conference proceedings. Since the forum is part of VLSID 2020 program, there
          is no additional registration required.</h5>
      </div>
      <br>
      <div>
        <h3 class="industry-title"><span class="dot mr-3"></span>Schedule:</h3>
        <h5>TBD</h5>
      </div>
      <div class="col-sm-12 mx-auto text-center">
        <a href="#"> Download PDF</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}