{% extends "template.html" %}
{% set page ='fellowship' %}
{% block meta %}
<title>Invitation for fellowship - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}
{% block content %}
<main id="main" class="main-page">
    <section id="fellowship" class="wow fadeInUp">
        <div class="container">
            <div class="section-header text-center" >
                <h3>33rd International conference on VLSI Design (VLSID 2020)
                    & 19th International Conference on Embedded Design</h3>
            </div>
            <div class="details text-center" >
                <p>
                    Fellowship applications are invited from Indian Students and Faculty members for attending the 33rd International conference on VLSI Design & 19th International
                    Conference on Embedded Design (VLSID 2020) to be held at Bangalore, India during 4-8 January 2020.
                </p>
                <br>
                <br><br>
            </div>
            <div class="section-header">
                <h2>LATEST UPDATES</h2>
            </div>
            <div class="row">
                <div class="col"> <a href="#" class="aboutbtn">Final list of confirmed faculty fellows</a></div>
                <div class="col" ><a href="#" class="btnf" >Student fellows with accommodation support : List and guidelines</a></div>
            </div>
            <br><br>
            <div class="details_f">
                <div class="brk-btn">All the fellows are requested to report at the conference venue for registration on 04.01.2020 before 9 am</div>
            </div>
            <br><br>
            <div class="section-header-f ">
                <h4>Applications</h4>
            </div>
            <div class="details text-center">
                <a href="#val1" class="scrollto"><strong>Applications are seeking through online system.</strong></a>
                <p> A Gmail account is required for submitting the application (please see below for link)</p>
            </div>
            <div class="card shadow">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">&rarr; Applications will be considered on first-come first-served basis.
                        A recommendation letter in the format indicated below must be uploaded as a part of the application. For students, the letter must be endorsed by the research supervisor/project-guide and the head of the department.
                        For the faculty members, the letter should be endorsed by the head of the department or head of the Institute.</li>
                    <li class="list-group-item"> The templates are given at:
                        <ul>
                            <li > <a href="#val1" class="scrollto">Annexure-I</a></li>
                            <li > <a href="#val2" class="scrollto">Annexure-II</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">&rarr; Please submit only one form per applicant.</li>
                    <li class="list-group-item">&rarr; A write-up (Maximum of 1 page) mentioning the reason to attend VLSID 2020 as a fellow must also be uploaded.</li>
                </ul>
            </div>
            <br><br>
            <div class="section-header-f ">
                <h3>Important Dates</h3>
            </div>
            <div class="card shadow">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        &rarr; Portal will be open for application submission :  <span>30.11.2019 </span>
                    </li>
                    <li class="list-group-item">&rarr;  Last date for submitting application :  <span>30.11.2019 </span></li>
                    <li class="list-group-item">&rarr;  Notification for award of fellowship : <span>30.11.2019 </span>
                    </li>
                    <li class="list-group-item">&rarr;  The notification will be sent out on the provided email address as well as posted on the conference website.
                    </li>
                </ul>
            </div>
            <br><br>
            <div class="section-header-f ">
                <h4>Important Guidelines</h4>
            </div>
            <div class="card shadow">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        &rarr; Research scholars or faculty members, whose paper is accepted in 33rd International conference on VLSI Design & 19th International Conference on Embedded Design 2020,will get the preference for the award of fellowship.
                    </li>
                    <li class="list-group-item">&rarr;  Research scholars applying for the fellowship award must be involved in research areas related to VLSI Design & Test and Embedded Design.</li>
                    <li class="list-group-item">&rarr;  The faculty members applying for the fellowship award must have been associated in teaching or guiding research projects in VLSI Design & Test and Embedded Design, and taken active part in conducting workshops or seminars in these areas.
                    </li>
                    <li class="list-group-item">&rarr;  The organizing committee is mainly interested in reimbursing the travel expenses for fellowship awardees from the distant cities/towns as the budget limitations may permit reimbursing these expenses only to some extent. Hence, aspiring candidates for fellowship award are advised to opt for these reimbursements only on the need basis as your genuine discretion would help organizing committee to award fellowship to more aspirants.
                    </li>
                    <li class="list-group-item">&rarr;  Registration is complementary for fellows. The registration fees (if already paid) will be reimbursed if the fellow completes the entire mandatory requirement mentioned for the award of the fellowship including full attendance from 04.01.2020 to 08.01.2020 and conference summary report
                    </li>
                    <li class="list-group-item">&rarr;  Travel expenses if approved for reimbursement will be calculated as per shortest route of travel by (1) AC 3-Tier in Train/ flight upto a maximum of Rs.8,000/- or actual (whichever is lower) for faculty, (2) by AC 3-Tier/Sleeper class in Train/AC bus up to a maximum of Rs. 4,000/- or actual (whichever is lower) for students/scholars.
                    </li>
                    <li class="list-group-item">&rarr;  The organizing team of VLSID2020 is planning to provide free accommodation for student fellows from outside Bangalore. Accommodation will not be provided to the fellows belonging to Bangalore. Only a shared accommodation nearer to the venue would be allotted by VLSID2020. The organizing committee will arrange a shuttle bus service between the place of accommodation and conference venue at mornings and evenings. Final information regarding place of stay and other logistics will be informed later.
                    </li>
                    <li class="list-group-item">&rarr;  The notification will be sent out on the provided email address as well as posted on the conference website.
                    </li>
                </ul>
            </div>
            <br><br>
            <div class="details text-center" >
                <p>Contact:</p>
                <h6>For any concerns/queries, please send an email to:
                    <a class="email" href="mailto:vlsid2020fellows@gmail.com" target="_blank"> vlsid2020fellows@gmail.com </a>
                    (Please include VLSID fellowship in the subject line).</h6>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-12"><a href="#" class="aboutbtn " id="val1">Annexure-I</a></div>
                <div class="col-lg-4 col-sm-12"><a href="#" class="btnf " id="val" >Apply Now</a></div>
                <div class="col-lg-4 col-sm-12"><a href="#" class="aboutbtn " id="val2">Annexure-II</a></div>
            </div>
            <br><br>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}