{% extends "template.html" %}

{% set page ='Organizing-Committee' %}

{% block meta %}
<title>Organizing Committee - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}
<main id="main" class="main-page">
  <section id="organizing-committee" class="wow fadeIn">

    <div class="container">
      <div class="section-header">
        <h2>Organizing Committee</h2>
      </div>
      <div class="col-lg-11 col-md-9 col-sm-12 mx-auto justify-content-center">
        <ul id="committee-members-list">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#cm1"><i class="fa fa-minus-circle"></i>Steering Committee Chair </a>
            <div id="cm1" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/vda.jpg" alt="Vishwani D. Agarwal" class="img-fluid">
                    <div class="details">
                      <a href="http://www.eng.auburn.edu/~vagrawal/" target="_blank"><h3>Vishwani D. Agarwal</h3></a>
                      <p>Auburn University</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm2" class="collapsed"><i class="fa fa-minus-circle"></i>Executive Chair</a>
            <div id="cm2" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/skn.png" alt="Sukumar Nandi" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/sukumar/" target="_blank"><h3>Sukumar Nandi</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm3" class="collapsed"><i class="fa fa-minus-circle"></i>General Co-Chairs</a>
            <div id="cm3" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/sdg.jpg" alt="Sudeb Dasgupta" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Faculty+Sudeb_Dasgupta.html" target="_blank"><h3>Sudeb Dasgupta</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/gt.jpg" alt="Gaurav Trivedi" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/eee/gaurav.html" target="_blank"> <h3>Gaurav Trivedi</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm4" class="collapsed"><i class="fa fa-minus-circle"></i>Program Chair</a>
            <div id="cm4" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/vr.gif" alt="Vijay Raghunathan" class="img-fluid">
                    <div class="details">
                      <a href="https://engineering.purdue.edu/ECE/People/ptProfile?resource_id=24522" target="_blank"> <h3>Vijay Raghunathan</h3></a>
                      <p>Purdue University</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm5" class="collapsed"><i class="fa fa-minus-circle"></i>Program Co-Chairs</a>
            <div id="cm5" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/kama.jpg" alt="Kamakoti V" class="img-fluid">
                    <div class="details">
                      <a href="https://www.cse.iitm.ac.in/profile.php?arg=MTg=" target="_blank"><h3>Kamakoti V</h3></a>
                      <p>IIT Madras</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/saibal_mukhopadyay.jpg" alt="Saibal Mukhopadhyay" class="img-fluid">
                    <div class="details">
                      <a href="https://www.ece.gatech.edu/faculty-staff-directory/saibal-mukhopadhyay" target="_blank"><h3>Saibal Mukhopadhyay</h3></a>
                      <p>Georgia Tech</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm6" class="collapsed"><i class="fa fa-minus-circle"></i>Tutorial Chair</a>
            <div id="cm6" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/sridevan.jpg" alt="Sri Parameswaran" class="img-fluid">
                    <div class="details">
                      <a href="https://www.cse.unsw.edu.au/~sridevan/" target="_blank"><h3>Sri Parameswaran</h3></a>
                      <p>University of New South Wales</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm16" class="collapsed"><i class="fa fa-minus-circle"></i>Tutorial Co-Chairs</a>
            <div id="cm16" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/janakiraman.jpg" alt="Janakiraman Viraraghavan" class="img-fluid">
                    <div class="details">
                      <a href="http://www.ee.iitm.ac.in/janakiraman/" target="_blank"><h3>Janakiraman Viraraghavan</h3></a>
                      <p>IIT Madras</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/anand.jpg" alt="Anand Bulusu" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Faculty+Bulusu__Anand.html" target="_blank"><h3>Anand Bulusu</h3></a>
                      <p> IIT Roorkee</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm8" class="collapsed"><i class="fa fa-minus-circle"></i>Workshop Chair</a>
            <div id="cm8" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/preety.jfif" alt="Preet Yadav" class="img-fluid">
                    <div class="details">
                      <a href="https://in.linkedin.com/in/preet-yadav" target="_blank"><h3>Preet Yadav</h3></a>
                      <p> Wipro Ltd.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm10" class="collapsed"><i class="fa fa-minus-circle"></i>Organizing Co-Chairs</a>

            <div id="cm10" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/tvenkat.jpeg" alt="T. Venkatesh" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/t.venkat/production/index.html" target="_blank"> <h3>T. Venkatesh</h3></a>
                      <p> IIT Guwahati</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/johnjose.jpg" alt="John Jose" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/johnjose/" target="_blank"><h3>John Jose</h3></a>
                      <p> IIT Guwahati</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/perumal.jpg" alt="Perumal Alagarsamy" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/phy/fac_hompage.php?email=perumal@iitg.ac.in" target="_blank"><h3>Perumal Alagarsamy</h3></a>
                      <p> IIT Guwahati</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm11" class="collapsed"><i class="fa fa-minus-circle"></i>Registration Chair</a>
            <div id="cm11" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/asahu.jpeg" alt="Aryabartta Sahu" class="img-fluid" >
                    <div class="details">
                      <a href="https://www.iitg.ac.in/asahu/" target="_blank"> <h3>Aryabartta Sahu</h3></a>
                      <p>IIT Guwhatai</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm12" class="collapsed"><i class="fa fa-minus-circle"></i>Finance Chair</a>
            <div id="cm12" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/rohitsinha.jfif" alt="Rohit Sinha" class="img-fluid" >
                    <div class="details">
                      <a href="http://www.iitg.ac.in/eee/emstlab/profiles/rsinha.php" target="_blank"> <h3>Rohit Sinha</h3></a>
                      <p>IIT Guwhatai</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm13" class="collapsed"><i class="fa fa-minus-circle"></i>Fellowship Chair</a>
            <div id="cm13" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/JKDeka.png" alt="Jatindra Kumar Deka" class="img-fluid" >
                    <div class="details">
                      <a href="http://www.iitg.ac.in/cse/internet-pages/jatin" target="_blank"><h3>Jatindra Kumar Deka</h3></a>
                      <p>IIT Guwhatai</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm14" class="collapsed"><i class="fa fa-minus-circle"></i>Publication Co-Chairs</a>
            <div id="cm14" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/karunrawat.jpg" alt="Karun Rawat" class="img-fluid" >
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Karun_Rawat.html" target="_blank"><h3>Karun Rawat</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/sukanta.png" alt="Sukanta Bhattacharjee" class="img-fluid" >
                    <div class="details">
                      <a href="http://www.iitg.ac.in/sukantab/" target="_blank"><h3>Sukanta Bhattacharjee</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm15" class="collapsed"><i class="fa fa-minus-circle"></i>Publicity Co-Chairs</a>
            <div id="cm15" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/Sourajeet.jpg" alt="Sourajeet Roy" class="img-fluid" >
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Faculty+Sourajeet_Roy.html" target="_blank"><h3>Sourajeet Roy</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/vineet.png" alt="Vineeth Sahula" class="img-fluid" >
                    <div class="details">
                      <a href="http://mnit.ac.in/faculty/profile.php?fid=zDCVh-MAtYqYqMuZCB8aAAod9ehsXhzuZXdmc3SGiMs" target="_blank"><h3>Vineeth Sahula</h3></a>
                      <p>MNIT Jaipur</p>
                    </div>
                  </div>
                </div>


                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/biplab.jfif" alt="Biplab Sarkar" class="img-fluid" >
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Faculty+Biplab_Sarkar.html" target="_blank">  <h3>Biplab Sarkar</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm17" class="collapsed"><i class="fa fa-minus-circle"></i>Industry Forum Co-Chairs</a>
            <div id="cm17" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/dd.jfif" alt="Devesh Dwivedi" class="img-fluid">
                    <div class="details">
                      <a href="https://www.linkedin.com/in/deveshdwivedi/" target="_blank"><h3>Devesh Dwivedi</h3></a>
                      <p>Samsung Research</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/ayan_datta.jfif" alt="Ayan Datta" class="img-fluid">
                    <div class="details">
                      <a href="https://www.linkedin.com/in/ayan-datta-b7754b68/?originalSubdomain=in" target="_blank"><h3>Ayan Datta</h3></a>
                      <p>Intel</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/deafult.jpg" alt="Siddharth Gupta" class="img-fluid">
                    <div class="details">
                      <a href="#" class="disabled" target="_blank"><h3>Siddharth Gupta</h3></a>
                      <p>ARM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm18" class="collapsed"><i class="fa fa-minus-circle"></i>Women in Engineering Chair</a>
            <div id="cm18" class="collapse" data-parent="#committee-members-list">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/hemangee.jpg" alt="Hemangee Kapoor" class="img-fluid">
                    <div class="details">
                      <a href="http://www.iitg.ac.in/hemangee/" target="_blank"> <h3>Hemangee Kapoor</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm19" class="collapsed"><i class="fa fa-minus-circle"></i>Student Research Forum Co-Chairs</a>
            <div id="cm19" class="collapse" data-parent="#committee-members-list">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/Bishnu.jpg" alt="Bishnu Prasad Das" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Bishnu_Prasad_Das.html" target="_blank"> <h3>Bishnu Prasad Das</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/roy.jpg" alt="Roy Paily P." class="img-fluid">
                    <div class="details">
                      <a href="http://www.iitg.ac.in/engfac/roypaily/public_html/index.html" target="_blank"><h3>Roy Paily P.</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm25" class="collapsed"><i class="fa fa-minus-circle"></i>Sponsorship Co-Chairs</a>
            <div id="cm25" class="collapse" data-parent="#committee-members-list">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/sanjeev.jpg" alt="Sanjeev Manhas" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitr.ac.in/departments/ECE/pages/People+Faculty+Manhas__Sanjeev.html" target="_blank"> <h3>Sanjeev Manhas</h3></a>
                      <p>IIT Roorkee</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/sivaram.jfif" alt="Sivaram Allamraju" class="img-fluid">
                    <div class="details">
                      <a href="https://www.linkedin.com/in/sivaram-allamraju-817a225/?originalSubdomain=in" target="_blank"><h3>Sivaram Allamraju</h3></a>
                      <p>Rambus</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/Ashish_Kumar.jpg" alt="Ashish Kumar" class="img-fluid">
                    <div class="details">
                      <a href="https://www.researchgate.net/profile/Ashish_Kumar74" target="_blank"><h3>Ashish Kumar</h3></a>
                      <p>STMicroelectronics</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm20" class="collapsed"><i class="fa fa-minus-circle"></i>Design Contest Co-Chairs</a>
            <div id="cm20" class="collapse" data-parent="#committee-members-list">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/harshal.jpg" alt="Harshal B. Nemade" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/eee/nemade.html" target="_blank"><h3>Harshal B. Nemade</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/chandankarfa.jpg" alt="Chandan Karfa" class="img-fluid">
                    <div class="details">
                      <a href="http://www.iitg.ac.in/cse/internet-pages/ckarfa" target="_blank"><h3>Chandan Karfa</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->
          <li>
            <a data-toggle="collapse" href="#cm21" class="collapsed"><i class="fa fa-minus-circle"></i>Website Co-Chairs</a>
            <div id="cm21" class="collapse" data-parent="#committee-members-list">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/manojmajhi.jfif" alt="Manoj Majhi" class="img-fluid">
                    <div class="details">
                      <a href="http://www.iitg.ac.in/design/Faculty.html" target="_blank"><h3>Manoj Majhi</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/amit.jpg" alt="Amit Awekar" class="img-fluid">
                    <div class="details">
                      <a href="https://www.iitg.ac.in/awekar/" target="_blank"><h3>Amit Awekar</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                  <div class="speaker">
                    <img src="assets/img/committee/amaldev.jpg" alt="Amal Dev Parakkat" class="img-fluid">
                    <div class="details">
                      <a href="https://iitg.ac.in/amaldevp/" target="_blank"> <h3>Amal Dev Parakkat</h3></a>
                      <p>IIT Guwahati</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
          <!-----------------------    ------------------->

        </ul>
      </div>

    </div>

  </section>
</main>
{% endblock %}