{% extends "template.html" %}

{% set page ='sponsors-invitation' %}

{% block meta %}
<title>Sponsor Invitation - VLSID 2020</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}

<main id="main" class="main-page">

    <!-- ======= Sponsor Invitation Section ======= -->
    <section id="sponsors-invitation" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Sponsor Invitation</h2>
            </div>

            <div class="text-center">
                <p class="invitext mb-5"> VLSID 2020 conference program is the ideal platform for you to establish the
                    technical leadership of your company and showcase yourself to the technical community.<br></p>
                <p class="boldtext">Please download the Sponsor Invitation letter for further information.<br></p>

                <a href="assets\img\sponsors\1.png" class="aboutbtn" download="VLSID Sponsor Invitation">
                    Download Invitation Letter
                </a>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock %}
