{% extends "template.html" %}

{% set page ='sponsors-exhibitors-pricing' %}

{% block meta %}
<title>Exhibitors Pricing - VLSID 2020 </title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}

<main id="main" class="main-page">

    <!-- ======= Exhibitors Section ======= -->
    <section id="sponsors-exhibitors-pricing" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>EXHIBITORS PRICING</h2>
            </div>

            <div class="text-center mb-4">
                <p class="invitext"></p>
                <a href="assets\pdf\call_for_contribution.pdf" download="VLSID Sponsor Invitation">
                    <button class="aboutbtn"> Download Exhibitors Pricing PDF</button>
                </a>
            </div>

            <div class="row justify-content-center">
                <img src="assets\img\sponsors\1.png" alt="Sponsor 1" class="img-spon2">
                <img src="assets\img\sponsors\2.png" alt="Sponsor 1" class="img-spon2">
            </div>

            <div class="row justify-content-center">
                <img src="assets\img\sponsors\3.png" alt="Sponsor 1" class="img-spon2">
                <img src="assets\img\sponsors\4.png" alt="Sponsor 1" class="img-spon2">
            </div>

        </div>

        </div>
    </section>

</main><!-- End #main -->

{% endblock %}
