{% extends "template.html" %}

{% set page ='sponsors-industry-academic-consortiums' %}

{% block meta %}
<title>Sponsors - Industry & Academic Consortiums - VLSID 2020</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}

<main id="main" class="main-page">

    <!-- ======= Sponsors - Industry & Academic Consortiums ======= -->
    <section id="sponsors-industry-academic-consortiums" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Sponsors - Industry & Academic Consortiums</h2>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="assets/img/sponsors/1.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/2.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/3.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/4.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/6.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                </div>

            </div>

        </div>

    </section>

</main><!-- End #main -->

{% endblock %}
