{% extends "template.html" %}

{% set page ='sponsors-industry-leaders' %}

{% block meta %}
<title>Sponsors - Industry Leaders - VLSID 2020 </title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}

<main id="main" class="main-page">

    <!-- ======= Sponsors - Industry Leaders Section ======= -->
    <section id="sponsors-industry-leaders" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Sponsors - Industry Leaders</h2>
            </div>

            <div class="container">
                <div class="section-header1">
                    <h3 class="level">SILICON</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="assets/img/sponsors/7.png" alt="Sponsor 1" class="img-spon1">
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="section-header1">
                    <h3 class="level">GOLD</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="assets/img/sponsors/1.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/2.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/3.png" alt="Sponsor 1" class="img-spon1">
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="section-header1">
                    <h3 class="level">SILVER</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="assets/img/sponsors/1.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/2.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/3.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/4.png" alt="Sponsor 1" class="img-spon1">
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="section-header1">
                    <h3 class="level">BRONZE</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="assets/img/sponsors/1.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/2.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/3.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/4.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/6.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/1.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/2.png" alt="Sponsor 1" class="img-spon1">
                    </div>


                    <div class="col-md-6">
                        <img src="assets/img/sponsors/3.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/4.png" alt="Sponsor 1" class="img-spon1">
                    </div>

                    <div class="col-md-6">
                        <img src="assets/img/sponsors/6.png" alt="Sponsor 1" class="img-spon1">
                    </div>
                </div>
            </div>
        </div>

    </section>

</main><!-- End #main -->

{% endblock %}
