{% extends "template.html" %}

{% set page ='submission' %}

{% block meta %}
<title>User Design Track - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}
<main id="main" class="main-page">
    <section id="userdesigntrack" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>User Design Track</h2>
            </div>
            <div class="col-sm-12">
                <p>Complexities of circuits and systems, are ever emerging with new challenges and growing demand from all
                    areas. User Design Track unite IC designers, IP core designers, embedded software and system developers,
                    automotive electronics engineers, security experts, engineering managers, and verification engineers
                    from across the globe. Showcase your insights and solutions to key technical and industry issues at this
                    event.
                    <br><br>
                    User Design Track is targeted specifically at practitioners. Hardware designers, software engineers, IP
                    developers, application engineers, and managers/executives from leading companies will present their
                    experiences on effective design flows, methods, tool usage, as well as IP integration and software
                    development practices.
                    <br><br>
                    We will feature high-quality papers on topics including high-performance, low power, reliability, and
                    advanced node design solutions and their applications in market segments such as high-performance
                    computing, mobile computing, automotive and IoT.
                    <br><br>
                    Whether you are an EDA tool user, hardware designer, software engineer, IP provider, IP core user,
                    application engineer, consultant, or an engineering manager, the User Design Track is an ideal place to
                    meet and share your experiences.
                    <br><br>
                    Accepted proposal authors will be asked to present their work in User Design. There will be a ‘Best User
                    Design Track Paper’ award that will be decided by the User Design Track Committee.
                    Proposals are invited on topics in the following areas but not limited to:</p>
            </div>
            <div class="row">
                <div class="col-sm-6 mx-auto text-center">
                    <a class="aboutbtn" href="#" ><i class="fa fa-download mx-auto"></i> Download Final Camera Ready Submission Template</a>
                </div>
                <div class="col-sm-6 mx-auto text-center">
                    <a class="aboutbtn" href="#"><i class="fa fa-download mx-auto"></i> Download Poster Submission Template</a>
                </div>
            </div>
            <div class="col-sm-12 mx-auto text-center mt-5 mb-3">
                <h3> <strong>Proposals</strong></h3>
            </div>

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Embedded Systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">VLSI Front End Design:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">VLSI Back End Design:</a>
                </li>
            </ul>

            <div class="col-sm-12 mx-auto mb-4">
                <div class="tab-content row justify-content-center">
                    <!-- Schedule Day 1 -->
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>1. Systems Engineering</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>2. Electronic/Circuit Design</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>3. Hardware-Software co design</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 4. Software architecture, design & development</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 5. Real time operating systems</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>6. Model based software development</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>7. Hardware software validation & verification</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 8. Test infrastructure & methodologies</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>9. Embedded Security</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 10. Fail safe design</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>11. Prognostics & Diagnostics</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 12. IoT</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>13. Artificial Intelligence</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 14. Electrification</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>15. Wireless & Connectivity</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 16. Multi core & parallel computing</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Schedule Day 1 -->
                    <!-- Schedule Day 2 -->
                    <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 1. RTL Design & Synthesis, Low Power Design, Power/Area/Performance Trade-offs</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 2. Mixed-Signal and RF Design</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>3. Architectural exploration & optimization (ESL or TLM)</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 4. Embedded Hardware-Software Co-Design</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 5. Design and Verification of IPs</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>6. Various aspects of Verification (Assertion, Coverage, HVL Testbenches)</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>7. Design Methodologies and Tool Flows</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>8. Design for Test</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Schedule Day 2 -->
                    <!-- Schedule Day 3 -->
                    <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>1. Physical Design Closure</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>2. Timing Analysis and Optimization</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4>3. Floor Planning and Physical Synthesis</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 4. Reliability, Design For Manufacturing (DFM)</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 5. Silicon Debug and Manufacturing Test</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 6. Multi-chip Modules</h4>
                            </div>
                        </div>
                        <div class="row schedule-item">
                            <div class="col-md-10">
                                <h4> 7. Package Design</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Schedule Day 3 -->
                </div>
            </div>
            <br>
            <h3 style="color: #f82249">Submission Guidelines:</h3>
            <h5>Please submit your proposal in power point format with no more than 10 slides with following details: </h5>
            <div class=" ">
                <ul class="">
                    <li class="">A Title</li>
                    <li class=""> An introduction on the practical aspect of the contribution</li>
                    <li class=""> A summary that highlights the specific contribution (practical
                        aspects of the problem, techniques that work and do not work)
                    </li>
                    <li class=""> References, if appropriate</li>
                    <li class=""> Do NOT mention author name & affiliation. Once accepted you need to
                        add this information in final presentation
                    </li>
                </ul>
            </div>
            <br>
            <br>
            <h3 style="color: #f82249">Make your submission</h3>
            <div class=" ">
                <ul class=" ">
                    <li class=""> Abstract Submission :- Due Date</li>
                    <li class=""> Acceptance Notification :- Due Date</li>
                    <li class=""> Final Presentation :- Due Date</li>
                </ul>
            </div>
            <br><br>
        </div>
    </section>
</main>

{% endblock %}