{% extends "template.html" %}

{% set page ='venue' %}

{% block meta %}
<title>Venue-Gallery - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block content %}


<main id="main" class="main-page">
    <!-- ======= Venue Section ======= -->
    <section id="venue" class="wow fadeIn">

        <div class="container-fluid">

            <div class="section-header">
                <h2>Conference Venue</h2>
                <p>Conference venue location info and gallery</p>
            </div>


            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto p-0 shadow">
                <div id="b8002a8d8fa068fc70026454813610d7" class="ww-informers-box-854753 ">
                    <p class="ww-informers-box-854754">
                        <a href="https://world-weather.info/forecast/india/guwahati/7days/" class="">For 7 days</a>
                        <br>
                        <a href="https://world-weather.info/" class="">world-weather.info</a></p>
                </div>
                <script type="text/javascript" charset="utf-8"
                        src="https://world-weather.info/wwinformer.php?userid=b8002a8d8fa068fc70026454813610d7">

                </script>
                <style>.ww-informers-box-854754 {
                    -webkit-animation-name: ww-informers54;
                    animation-name: ww-informers54;
                    -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-family: Arial;
                    line-height: 18px;
                    text-align: center
                }

                @-webkit-keyframes ww-informers54 {
                    0%, 80% {
                        opacity: 0
                    }
                    100% {
                        opacity: 1
                    }
                }

                @keyframes ww-informers54 {
                    0%, 80% {
                        opacity: 0
                    }
                    100% {
                        opacity: 1
                    }
                }</style>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 venue-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d66824.00516008942!2d91.6995043597319!3d26.18758441501927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5ac1e7cc93d5%3A0xbf481e3cfc490e1!2sIndian%20Institute%20of%20Technology%20Guwahati!5e0!3m2!1sen!2sin!4v1584684112971!5m2!1sen!2sin"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                            <h3 class="text-center">IIT Guwahati</h3>
                            <p class="text-justify">Indian Institute of Technology Guwahati, the sixth member of the
                                IIT fraternity, was
                                established in 1994. The academic programme of IIT Guwahati commenced in 1995. At present
                                the Institute has eleven departments and five inter-disciplinary academic centres covering
                                all the major engineering, science and humanities disciplines, offering BTech, BDes, MA,
                                MDes, MTech, MSc and PhD programmes<br><br> Within a short period of time, IIT Guwahati has
                                been
                                able to build up world class infrastructure for carrying out advanced research and has been
                                equipped with state-of-the-art scientific and engineering instruments.Indian Institute of
                                Technology Guwahati's campus is on a sprawling 285 hectares plot of land on the north bank
                                of the river Brahmaputra around 20 kms. from the heart of the city. With the majestic
                                Brahmaputra on one side, and with hills and vast open spaces on others, the campus provides
                                an ideal setting for learning.<br><br>
                                For more details about IIT Guwahati, click <a href="http://www.iitg.ac.in/" target="_blank" class="font-weight-bold">here</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Venue Section -->

    <div class="container-fluid">
        <section id="venue-photos" class="wow fadeIn">
            <div class="venue-gallery-container d-my-1">
                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/1.jpg" title="Hostels" class="venobox" data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/1.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Hostels</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/2.jpg" title="New Guest House" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/2.jpg" alt="" class="img-fluid">
                                <span class="image-caption">New Guest House</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/3.jpg" title="Lecture Hall Lake" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/3.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Lecture Hall Lake</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/4.jpg" title="Conference Hall" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/4.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Conference Hall</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/5.jpg" title="Library " class="venobox" data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/5.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Library</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/6.jpg" title="Serpentine Lake" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/6.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Serpentine Lake</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/7.jpg" title="Main Auditorium" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/7.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Main Auditorium</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/8.jpeg" title="New SAC" class="venobox" data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/8.jpeg" alt="" class="img-fluid">
                                <span class="image-caption">New SAC</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/9.jpg" title="Main Auditorium" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/9.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Main Auditorium</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/10.jpg" title="Nano Tech Lab" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/10.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Nano Tech Lab</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/11.jpg" title="Old Guest House" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/11.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Old Guest House</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="venue-gallery">
                            <a href="assets/img/venue-gallery/12.jpg" title="Centre for Energy Lab" class="venobox"
                               data-gall="venue-gallery">
                                <img src="assets/img/venue-gallery/12.jpg" alt="" class="img-fluid">
                                <span class="image-caption">Centre for Energy Lab</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        <section id="gallery-IITG" class="wow fadeIn">
            <div class="owl-carousel gallery-carousel d-my-2">
                <a href="assets/img/venue-gallery/1.jpg" title="Hostels" class="venobox" data-gall="gallery-carousel"><img
                        src="assets/img/venue-gallery/1.jpg" alt=""><span class="image-caption"> Hostels</span></a>
                <a href="assets/img/venue-gallery/2.jpg" title="New Guest House" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/2.jpg" alt=""> <span
                        class="image-caption">New Guest House</span></a>
                <a href="assets/img/venue-gallery/3.jpg" title="Lecture Hall Lake" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/3.jpg" alt=""> <span
                        class="image-caption">Lecture Hall Lake</span></a>
                <a href="assets/img/venue-gallery/4.jpg" title="Conference Hall" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/4.jpg" alt=""> <span
                        class="image-caption">Conference Hall</span></a>
                <a href="assets/img/venue-gallery/5.jpg" title="Library" class="venobox" data-gall="gallery-carousel"><img
                        src="assets/img/venue-gallery/5.jpg" alt=""> <span class="image-caption">Library</span></a>
                <a href="assets/img/venue-gallery/6.jpg" title="Serpentine Lake" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/6.jpg" alt=""><span
                        class="image-caption">Serpentine Lake</span></a>
                <a href="assets/img/venue-gallery/7.jpg" title="Main Auditorium" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/7.jpg" alt=""> <span
                        class="image-caption">Main Auditorium</span></a>
                <a href="assets/img/venue-gallery/8.jpeg" title="New SAC" class="venobox" data-gall="gallery-carousel"><img
                        src="assets/img/venue-gallery/8.jpeg" alt=""><span class="image-caption">New SAC</span></a>
                <a href="assets/img/venue-gallery/8.jpg" title="Main Auditorium" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/9.jpg" alt=""> <span
                        class="image-caption">Main Auditorium</span></a>
                <a href="assets/img/venue-gallery/8.jpg" title="Nano Tech Lab" class="venobox" data-gall="gallery-carousel"><img
                        src="assets/img/venue-gallery/10.jpg" alt=""> <span class="image-caption">Nano Tech Lab</span></a>
                <a href="assets/img/venue-gallery/8.jpg" title="Old Guest House" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/11.jpg" alt=""><span
                        class="image-caption">Old Guest House</span></a>
                <a href="assets/img/venue-gallery/8.jpg" title="Serpentine Lake" class="venobox"
                   data-gall="gallery-carousel"><img src="assets/img/venue-gallery/12.jpg" alt=""><span
                        class="image-caption">Serpentine Lake</span></a>
            </div>
        </section>
 </section>
    </div>

</main><!-- End #main -->

{% endblock %}
