{% extends "template.html" %}
{% set page ='fellowship' %}
{% block meta %}
<title>Visa Information - Embedded & VLSI Design Conference</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}
{% block content %}
<main id="main" class="main-page">
    <section id="visa" class="section-with-bg">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2>VISA INFORMATION</h2>
            </div>
            <div class="details_f">
                <div class="brk-btn">This page contains general information about invite letter to obtain visa to attend the conference in India. Please note delegates are advised to consult with the Indian embassy and consulate services in their home country regarding visa requirements:</div>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <!-- Schdule Day 1 -->
                <div role="tabpanel" class="col-lg-9 fade show active" id="day-1">
                    <div class="row schedule-item">
                        <h5>The letter of invitation and documents can be generated after you complete your registration</h5>
                    </div>
                </div>
                <div role="tabpanel" class="col-lg-9 fade show active" id="day-2">
                    <div class="row schedule-item">
                        <h5>Details required:</h5>
                        <ul>
                            <li>Full Name as in passport
                            </li>
                            <li>Passport Number
                            </li>
                            <li>Passport Validity – From & To Date</li>
                            <li>Address to whom the letter needs to be addressed
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="col-lg-9  fade show active" id="day-3">
                    <div class="row schedule-item">
                        <h5>Details to be provided to the Organizing chairs – Samuel Dorairaj <span><a class="email" href="mailto:samuel.v.dorairaj@intel.com">samuel.v.dorairaj@intel.com</a> </span> & Lata Prabhu  <span><a class="email" href="mailto:lprabhu@qti.qualcomm.com">lprabhu@qti.qualcomm.com</a> </span></h5>
                    </div>
                </div>
                <div role="tabpanel" class="col-lg-9 fade show active" id="day-4">
                    <div class="row schedule-item">
                        <h5>Visa Letters will be provided within 2 working days of receipt of requests</h5>
                    </div>
                </div>
                <div role="tabpanel" class="col-lg-9  fade show active" id="day-5">
                    <div class="row schedule-item">
                        <h5>With the Visa letters, delegates need to make an appointment with the Indian embassy and consulate services in their home country to obtain an Indian visa</h5>
                    </div>
                </div>
                <div role="tabpanel" class="col-lg-9  fade show active" id="day-6">
                    <div class="row schedule-item">
                        <h5>Last date for requesting visa letters– Dec 6’2019</h5>
                    </div>
                </div>
            </div>
            <!-- End Schdule Day 1 -->
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}