/*--------------------------------------------------------------
# Design Contest
--------------------------------------------------------------*/

#design-contest {
    padding: 60px 0 30px 0;
  p{
    font-size: 19px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
}