/*--------------------------------------------------------------
# Industry Research Forum
--------------------------------------------------------------*/

#industry-research-forum {
    padding: 60px 0 30px 0;
  p{
    font-size: 19px;
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .industry-title{
    font-weight: bold;

  }
}