/*--------------------------------------------------------------
# Updating soon  Section
--------------------------------------------------------------*/

#updating-soon{
  padding-top: 60px;

  .updating-soon-info{
    font-size: 22px;
    @media (max-width: 991px){
      font-size: 18px;
    }
  }
  .updating-soon-title{
    font-weight: bold;
  }

}
