/// Default color variables

$accent-color: rgb(211, 34, 68);
$heading-color: #060c22;
$text-color: #2f3138;

/// Fonts Variables
$accent-font: 'Helvetica', sans-serif;
$heading-font: 'Helvetica', sans-serif;
$text-font: 'Open Sans', sans-serif;
